.chat-page {
  display: flex;
  gap: 16px;
  height: 80vh;
  margin: 32px;
}

.chat-list {
  flex: 0 0 280px;
  width: 280px;
  overflow-x: hidden;
  overflow-y: auto;
}

.chat-item {
  display: flex;
  align-items: center;
  min-width: 0;

  button {
    flex: 0 0 auto;
  }
}

.chat-link {
  flex: 1 1 auto;
  min-width: 0;
}

.new-chat {
  width: 100%;
}

.chat-window {
  flex: 1 1 auto;
  min-width: 0;
}
